@charset "utf-8";
/* CSS Document */

table {
/*	width: 300px;
	height: 300px;*/
	position: absolute;
	border-collapse: collapse;
	margin-left: auto;
	margin-top: auto;
}

td {
	border: 1px solid black;
	text-align: center;
	font-size: 5em;
	width: 110px;
	height: 110px;
	background-color: yellow;
	margin: -1px;
}

.info {
	margin: 0px;	
	display: none;
  	position: relative;
  	float: right;
/*  	background-color: green; */
/*  	border: 1px solid black; */
  	font-family: "Courier New";
  	font-size: 1.8em;
  	padding: 10px;  
}


.error {
  display: none;
  position: relative;
  float: right;
  background-color: red;
  border: 1px solid black;
  font-family: "Courier New";
  font-size: 0.8em;
  padding: 3px;  
}

.fade-slice { 
	position: absolute; 
	width: 2px; 
/*	height: 2px; */ 
	background: #fff; 
	z-index: 3; 
} 

.circle {
/*	background-color: yellow; */
	background: yellow url("../img/circle.png") top left;
	z-index: 3; 
}

.cross {
/*	background-color: yellow; */
	background: yellow url("../img/cross.png") top left;
	z-index: 3; 
}

.drophover {
	background-color: white;
}
