@charset "utf-8";
/* CSS Document */

body {
  font-size: 100%;
  margin-left:auto;
  margin-right:auto;
}

.login {
  height: 100px;
  position: absolute;
}

p {
  font-family: "Courier New";
/*  position: absolute;*/
  text-align:center;
  font-size: 2.5em;
  display:none;  
}

input {
  font-family: "Courier New";
/*  position: absolute; */
  font-size: 2.5em; 
  height: 55px; 
}

#throbber {
  width: 64px;
  display: none;
/*  position: fixed;*/
}
