@charset "utf-8";
/* CSS Document */

body {
  font-size: 100%;
/*  margin-left:auto;
  margin-right:auto;*/
  margin: 5px;
}

form {
  width: 1200px;
}

.login {
  height: 100px;
  position: absolute;
}

p {
  font-family: "Courier New";
/*  position: absolute;*/
  text-align:center;
  font-size: 2.5em;
  display:none;  
}

input {
  font-family: "Courier New";
/*  position: absolute; */
  font-size: 2.5em; 
  height: 55px; 
}

#throbber {
  width: 64px;
  display: none;
  position: relative;
}

.error {
  display: none;
  position: relative;
  float: right;
  background-color: red;
  border: 1px solid black;
  font-family: "Courier New";
  font-size: 0.8em;
  padding: 3px;  
}

.info {
  display: none;
  position: relative;
  float: left;
  background-color: green;
  border: 1px solid black;
  font-family: "Courier New";
  font-size: 0.8em;
  padding: 3px;  
}
